DB_URL=jdbc:mysql://mysql:3306/butja?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=butja
DB_PASSWORD=
MYSQL_DATABASE=butja
MYSQL_ROOT_PASSWORD=
JWT_SECRET=
JWT_ISSUER=butja
JWT_ACCESS_EXP=86400000
JWT_REFRESH_EXP=604800000
PORT=8080
JPA_DDL_AUTO=update
